html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cormorant Unicase', serif;
    color: black;
    text-align: center;
    /* background-color: rgb(233, 232, 187); */
    background-image: url('../img/metall001-new-tileable.png');
}

canvas {
    height: 544px;
    width: 96px;
}

#game-container {
    max-width: 600px;
    background-image: url('../img/brick.png');
    margin: 1em auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .5fr .25fr .25fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "game"
        "story"
        "choices";
}

#story,
#choices {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/parchment-gold.png');
}

main {
    grid-area: game;
}

#story {
    grid-area: story;
}


#choices {
    grid-area: choices;
}

#setup-form,
#story-container {
    padding: 1em;
}

#setup-form h2 {
    margin-bottom: 1em;
}

#setup-form input,
#setup-form select {
    margin-right: 1em;
}

#choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#story-container h2,
#story-container p {
    margin: 0;
}

#status-name {
    font-weight: bold;
}

#status-class {
    font-style: italic;
}

#game-status {
    margin: 1em;
}

#choices .attack-button {
    margin: 0.25em 0.5em;
}