html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cormorant Unicase', serif;
    text-align: center;
    background-color: rgb(233, 232, 187);
    /* background-size: cover;
    background-repeat: space; */
}

canvas {
    background-image: url('../img/stone-floor.png');
    height: 544px;
    width: 96px;
}

#game-container {
    max-width: 600px;
    /* background-color: rgb(96, 39, 187); */
    background-image: url('../img/brick.png');
    margin: 1em auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .5fr .25fr .25fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "game"
        "story"
        "choices";
}

#story,
#choices {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

main {
    grid-area: game;
}

#story {
    grid-area: story;
}


#choices {
    grid-area: choices;
}

#tagline {
    padding: 1em;
}

#setup-form,
#tagline {
    background-color: white;
    color: black;
    padding: 1em;
}

#setup-form h2 {
    margin-bottom: 1em;
}

#setup-form input,
#setup-form select {
    margin-right: 1em;
}

